@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="headerPanel bioPanel rounded">
    <h2 class="text-center">About Me</h2>
</div>

    <p>Use this area to provide additional information.</p>
