@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="headerPanel bioPanel rounded">
    <h2 class="text-center">About Me</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 class="text-center steelTeal">Education</h3>
        <h4 class="text-muted">Capitol Technology University</h4>
        <p class=""><i class="fas fa-map-marker-alt"></i> Laurel, MD</p>

        <p class="">BS in Computer Engineering</p>
        <p class="">Expected Graduation: May 2019</p>
        <p class="">GPA: 4.0</p>
        <p class="">Dean's List: All Semesters of Study</p>
    </div>
    <div class="col-md-6">
        <h3 class="text-center steelTeal">Biography</h3>
        <p class="bioPara">
            My name is Randy Powell. I like to hike a lot. All of awesome pictures you see on this site were taken by me on various hikes and camping trips.
        </p>
    </div>

</div>
