@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="headerPanel bioPanel rounded">
    <h2 class="text-center">About Me</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 class="text-center steelTeal">Education</h3>
        <h4 class="text-muted">Capitol Technology University</h4>
        <p class=""><i class="fas fa-map-marker-alt"></i> Laurel, MD</p>

        <p class="">BS in Computer Engineering</p>
        <p class="">Expected Graduation: May 2019</p>
        <p class="">GPA: 4.0</p>
        <p class="">Dean's List: All Semesters of Study</p>
    </div>
    <div class="col-md-6">
        <h3 class="text-center steelTeal">Biography</h3>
        <p class="bioPara">
            Hello! My name is Randy Powell and I am an Engineer from Severna Park, MD. I am employed as a
            Systems Engineering Intern at General Dynamics Mission Systems.
            I am currently working towards a Bachelor of Science in Computer Engineering from Capitol Technology University
            and plan to graduate in May 2019.
            I have extensive project and internship experience working with various software development and 
            engineering technologies. I enjoy writing code to solve challenging problems. My recent experiences have been
            split between web and embedded system development as I enjoy and am intriguied by both.
        </p>
        <p class="bioPara">
            When not studying or working, I enjoy hiking and camping in the wilderness and climbing up mountains.
            I try to take backpacking trips whenever I can and love exploring out in the wild.
            Most of the pictures you see on this site were taken by me on my various wilderness endevours.
        </p>
        <p>
            If you have any questions or would like to know more, please contact me at 
            <a href="mailto:rkpowell@captechu.edu" target="_blank" style="text-decoration:none"><i class="fas fa-envelope-square"></i> rkpowell@captechu.edu</a>

        </p>
    </div>

</div>
