@page
@model RandyPowell.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}
<div class="headerPanel skillPanel rounded">
    <h2 class="text-center">Technical Skills</h2>
</div>
<div class="row text-center">

    <div class="col-md-6 border skillGroup">
        <h3>Front End</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
        </ul>
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Back End</h3>
        <ul>
            <li>PHP</li>
            <li>Laravel</li>
            <li>MySQL</li>
        </ul>
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Embedded Systems</h3>
        <ul>
            <li>Python</li>
            <li>Raspberry Pi</li>
            <li>Digital Design</li>
        </ul>
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Other Languages</h3>
        <ul>
            <li>C++</li>
            <li>C</li>
            <li>Java</li>
        </ul>
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Operating Systems</h3>
        <ul>
            <li>Raspbian</li>
            <li>Ubuntu</li>
            <li>Windows</li>
        </ul>    
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Development Tools</h3>
        <ul>
            <li>GitHub</li>
            <li>JIRA</li>
            <li>Visual Studio</li>
        </ul>
    </div>

</div>
